<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties>  
	    <property name="dialect" value="mysql" />  
	</properties>
	
	<typeAliases>
		<typeAlias type="com.apache.velocity.page.Page" alias="pageResult" />
		<typeAlias type="com.apache.velocity.entity.Clazz" alias="clazz" />
		<typeAlias type="com.apache.velocity.entity.Attribute" alias="attribute" />
		<typeAlias type="com.family.community.entity.Book" alias="book" />
		<!-- [typeAlias] -->
	</typeAliases>
	
	<plugins>  
    	<plugin interceptor="com.apache.velocity.page.PageInterceptor" />   
	</plugins>
</configuration>